# Task 1

---

## Web scraping and analysis

This Jupyter notebook includes some code to get you started with web scraping. We will use a package called `BeautifulSoup` to collect the data from the web. Once you've collected your data and saved it into a local `.csv` file you should start with your analysis.

### Scraping data from Skytrax

If you visit [https://www.airlinequality.com] you can see that there is a lot of data there. For this task, we are only interested in reviews related to British Airways and the Airline itself.

If you navigate to this link: [https://www.airlinequality.com/airline-reviews/british-airways] you will see this data. Now, we can use `Python` and `BeautifulSoup` to collect all the links to the reviews and then to collect the text data on each of the individual review links.

**Data Collection**

In this phase we will collect the customer ratings data from the airline quality website called Skytrax. We will collect data about airline ratings, seat ratings and lounge experience ratings from this website.

In [1]:
#imports

import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
#create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []

In [ ]:

for i in range(1, 391):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "html5")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 34
Error on page 35
Error on page 35
Error on page 38
Error on page 38

In [42]:
#check the length of total reviews extracted
len(reviews)

3903

In [43]:
len(country)

3903

In [45]:
#check the length 
stars = stars[:3903]

In [46]:
#create  a dataframe from these collected lists of data

df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [47]:
df.head()

,reviews,stars,date,country
0,✅ Trip Verified | On a recent flight from Cy...,\n\t\t\t\t\t\t\t\t\t\t\t\t5,17th December 2024,United Kingdom
1,✅ Trip Verified | Flight BA 0560 arrived in ...,1,17th December 2024,Australia
2,✅ Trip Verified | This was the first time I ...,1,14th December 2024,United States
3,✅ Trip Verified | Pretty good flight but sti...,2,13th December 2024,United Kingdom
4,"✅ Trip Verified | Check in was fine, but no pr...",8,12th December 2024,United Kingdom

In [48]:
df.shape

(3903, 4)

In [49]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews18.csv")